@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: url('../woff/openSans.woff') format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: bold;
	font-weight: 700;
	src: url('../woff/openSansBold.woff') format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 400;
	src: url('../woff/openSansItalic.woff') format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 700;
	src: url('../woff/openSansBoldItalic.woff') format('woff');
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    margin: 20px;
    min-width: 290px;
    padding: 0;
    margin: 20px 0 0 0;
}

a {
    color: #97CEEC;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

div.header {
    width: 90%;
    background: #222;
    color: #EEE;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    border-radius: 10px;
    background-image: url('../img/grievingWoman.jpg');
    background-position: 40% 25%;
    background-size: cover;
    font-size: 1.3em;
}

div.header h2 {
    font-weight: normal;
}

div.header h3 {
    display: inline-block;
    background: rgba(255, 255, 255, 0.8);
    color: #333;
    border-radius: 10px;
    padding: 5px;
    margin: 0 auto;
}

div.jsonFeed {
  font-size: 12px;  
}

div.jsonFeed a {
    color: #3B6380;
}

div.content {
    margin: 40px auto 0 auto;
}

div.list {
    margin: 30px auto 40px auto;
    text-align: center;
}

div.list h1 {
    font-size: 3.5em;
    text-align: center;
}

div.list h2 {
    text-align: center;
}

div.humanBeing {
    display: inline-block;
    width: 200px;
    height: 200px;
    background: rgba(0, 80, 100, 0.1);
    padding: 10px;
    margin: 15px;
    vertical-align: middle;
    font-size: 16px;
}

div.humanBeing h2, div.humanBeing h3 {
    font-weight: normal;
}

div.charts {
    text-align: center;
}

div.chart {
    display: inline-block;
    margin: 20px;
    border-radius: 20px;
    background: rgba(0, 80, 100, 0.1);
    padding: 20px;
}

div.chart h2 {
    text-align: center;
    font-size: 1.8em;
}

div.chart canvas {
    display: block;
    margin: 0 auto;
}

div.charter {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    margin: 0 20px;
}

div.charter a {
    color: #3B6380;
}

@media screen and (max-width: 600px) {
    body {
        font-size: 12px;
    }

    div.header {
        width: 80%;
    }
}
